<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/4e65ddb1-66f0-4cb3-9c2c-63f031a68510/resourceGroups/AwarenessPlusResourceGroup/providers/Microsoft.Web/sites/AwarenessMonitorsComunication</ResourceId>
    <ResourceGroup>AwarenessPlusResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/4e65ddb1-66f0-4cb3-9c2c-63f031a68510/resourceGroups/AwarenessPlusResourceGroup/providers/Microsoft.ApiManagement/service/AwarenessPlusApiPUJ/apis/MonitorsComunication</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://awarenessmonitorscomunication.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>1ab23af2-b851-4ea0-bff0-0b249f40803d</ProjectGuid>
    <MSDeployServiceURL>awarenessmonitorscomunication.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AwarenessMonitorsComunication</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$AwarenessMonitorsComunication</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
  </PropertyGroup>
</Project>